* {
  margin: 0;
  padding: 0;
}

video::-webkit-media-controls {
  display:none !important;
}

video::-moz-media-controls {
  display:none !important;
}
.video-wrapper {
  // display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-image: url("chrome://global/skin/media/imagedoc-darknoise.png");
  background-color: rgb(33,33,33);
}
.video-wrapper > #video {
  /* cursor: none; */
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  /* max-width: 1200px; */
  /* max-height: 720px; */
  /* background-color: #0C9; */
  background-image: url("chrome://global/skin/media/imagedoc-darknoise.png");
  background-color: rgb(33,33,33);
  user-select: none;
  -moz-user-focus: normal;
  z-index: 10;
}
.float {
  // display: none;
  z-index: 15;
  position: fixed;
  width:60px;
  height:60px;
  top:40px;
  right:40px;
  background-color: tomato;
  color:#FFF;
  border-radius:50px;
  text-align: center;
  /* box-shadow: 2px 2px 3px #999; */
}

.cursor-none {
  cursor: none;
}

/* #close {
  display: none
} */

.my-float{
  margin-top:22px;
}